/* reset meyere */
@import url("reset-css.css");
@font-face {
	font-family: "alex";
	src: url("alex.ttf");
	src: url(KaushanScript-Regular.otf);
}
@font-face {
	font-family: "kau";
	src: url(KaushanScript-Regular.otf);
}
 body { /* WSZYSTKO */
  font-family: Merriweather, 'Times New Roman', serif;
  font-size: 1.125rem;
  line-height: 2.5rem; /* odstęp pomiędzy wierszami */
	margin: 0px;
} /*
1) font-weight: pogrubienie tekstu
2) line-height: odstępy pomiędzy wierszami tekstu
3) font-style: tekst pochylony
4) text-indent: wcięcie w tekście w rem
5) text-transform: uppercase - zmienia trzcionkę na WIELKIE LITERY
6) text-decoration: np możemy ustawiś podkreślanie textu
*/

h1 { /* IZABEL BIZU */
	font-size: 1.8rem;
}

h2 { /* to jest pierwsza podstrona */
  font-family: 'Open Sans' Arial, sans-serif;
  font-size: 1.6rem;
  color: #e5127d;
}

p { /*Biżuteria ręcznie robiona i ...:)  */
  font-size: 1.125rem; /* wielkość czcionki */
  letter-spacing: 0.3rem; /* odległość pomiędzy literami */
  color: #8c8e9b;
}

a { /* wszystkie a: lubię to, Obserwuj, pokaż więcej i pokaż więcej postów */
	text-decoration: none; /* brak podkreślenia w "a" lubię to i Obserwuj */
}

nav {
	/*  background-color: yellow;*/
	width: 100%;
	height: 2.5rem;
}
.omnie, .kontakt {
	text-align: center;
	color:grey;
	background-color:#eee;
	width: 6rem;
	height: 2.5rem;
	float: right;
}
.omnie:hover {
	background-color: aqua;
}
.kontakt:hover {
	background-color: aqua;
}

.kontakt {
	margin-right: 1%;
}

.naglowek { /* to jest nagłówek z IZABEL BIZU, BIŻUTERIA RĘCZNIE ROBIONA ORAZ LUBIĘ TO I OBSERWUJ */
	text-align: center;
	background-color: #42444e;
  color: white;
	width: 100%;
	height: 9rem;
}
/* przyciski: Lubię to i Obserwuj */
.przycisk {
	font-family: "Open Sans", sans-serif;
	display: inline-block;
	border: 1px solid #8c8e9b; /* obwódka, krawędź */
	color: #8c8e9b;
	border-radius: 100px; /* zaokrąglone krawędzie obwódki */
	width: 6.5rem;
}
.przycisk:hover {
	border: 1px solid gray;
	background-color: aqua;
}

.tresc {
	background-image: url(obrazy/IMG_20180827_4502.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	margin-top: -2.6rem;
	font-family: 'Merienda';
	height: 6rem;
	text-align: center;
	padding: 10%;
}

.powrot {
	color: purple;
	text-align: center;
}

footer {
	width: 100%;
	height: 5rem;
	background-color: slateblue;
}

@media all and (max-width: 360px) {
	.tresc {
		height: 50%;
	}

	.naglowek {
		display: block;
	}

	.navi {
		display: block;
	}
}

/* margin: 1 2 3 4 tzn. 1 górny margines, 2 prawy, 3 dolny, 4 lewy; jeśli wpiszemy tylko dwie wartości będą oznaczały: 1-góra i dół 2- prawo i lewo; wielkość np 20px auto oznacza że 20px to margines górny i dolny natomiast lewy iprawy będzie ustawiony automatycznie */

/* 1em i 1rem=100% */

/* POZYCJONOWANIE */
/*
1) position: relative - pozwala nam dodawanie marginesów z ręki. np. margin-top itp. kontenery mogą się na siebie nachodzić
2) position: absolute: odnosi się do rodzica
3) position: fixed - ustawia kontemer zawsze w tym samym miejscu przeglądarki podczas przeciągania
4) float left lub right jest to opcja powodująca opływanie tekstu. clear: both skreśla wcześniejsze float left lub right

*/
