@import url(reset-css.css);

html {
  font-size: 62.5%; /* jest to czcionka o wielkości 10px */
  font-family: 'Playfair Display', serif;
  color: #48504e;
}

body {
  background-color: #ffc107;
}

.orange { color: #ffc107; }
.grey { color: #48504e;}
.lightgrey { color: #d4d4d3; }

h1 { font-size: 3.7rem; /* 37px */ }

h2 { font-size: 2.7rem; color: white; /* 27px */ }

h3 { font-size: 3.1rem; color: white; /* 31px */ }

p { font-size: 1.8rem; line-height: 1.55; /* 18px */ }

ul {
  font-size: 2.3rem; line-height: 1.75;
}

footer p { font-size: 1.4rem; color: #d4d4d3; /* 14px */}

.summary {
  font-size: 2.4rem;
}

header {
  display: none; /* ukrywanie kontenera */
}
