/* ==== RESET CSS MAYERA ==== */
@import url("reset-css.css");

body { /* WSZYSTKO */
  font-family: Merriweather, 'Times New Roman', serif;
  font-size: 1.125rem;
  line-height: 2.5rem; /* odstęp pomiędzy wierszami */
  color: #333;
}

h1 { /* IZABEL BIZU */
	font-size: 1.8rem;
}

h2 { /* DO ZOBACZENIA NIEBAWEM */
  font-family: 'Open Sans' Arial, sans-serif;
  font-size: 1.6rem;
  color: #e5127d;
}

p { /*Biżuteria ręcznie robiona i Zapraszamy  */
  font-size: 1.125rem; /* wielkość czcionki */
  letter-spacing: 0.3rem; /* odległość pomiędzy literami */
  color: #8c8e9b;
}

  /*  .picture {
	width: 100%;
  }
  */

a { /* wszystkie a: lubię to, Obserwuj, pokaż więcej i pokaż więcej postów */
	text-decoration: none; /* brak podkreślenia w "a" lubię to i Obserwuj */
}

.main-header { /* to jest nagłówek z IZABEL BIZU, BIŻUTERIA RĘCZNIE ROBIONA ORAZ LUBIĘ TO I OBSERWUJ */
	text-align: center;
	padding: 1.25rem;
	color: #fff;
	background-color: #42444e;
}
@media (min-width: 768px) {
	.main-header {
		position: fixed;
		top: 0;
		height: 100%;
		width: 33.3%;
	}
}
@media (min-width: 1025px) {
	.main-header {
		width: 20.625%
		}
	}

.primary-content {
	text-align: center;
	padding: 2rem;
	height: 100%;
	width: 100%100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-position: ;
}
@media (min-width: 768px) {
	.primary-content {
		float: right;
		width: 66.6%;
		max-width: 812px;
	}
}
@media (min-width: 1024px) {
	.primary-content {
		float: none;
		position: absolute;
		left: 20.625%;
	}
}

.picture {
	width: 100%;
}
/* COMPONENT STYLES */
.button {
	display: inline-block;
	border: 1px solid #8c8e9b;
	color: #8c8e9b;
	border-radius: 10px;
	padding-right: 5px;
	padding-left: 5px;
	margin: 5px;
	width: 100px;
	font-family: "Open Sans", sans-serif;
}
.button:hover {
	border: 1px solid gray;
	background-color: aqua;
}

/* NAGŁÓWEK */
nav {
	text-align: center;
	margin-right: 0.1rem;
	padding-right: 0.1rem;
}

nav li {
	background-color: #eee;
	font-size: 1.4rem; /* wielkość tekstu li tj. o mnie i kontakt */
	line-height: 3rem; /* odstępy między wierszami */
	height: 3rem; /* wysokość elementu */
	text-align: center;
}

nav a {
	text-decoration: none;
	color:gray; /* kolor textu "o mnie" i Kontakt" */
	display: block;
	margin: 0rem;
	padding: 0rem;
	right: 0rem;
	left: 0rem;
}

nav a:hover {
	background-color:turquoise;
	transition: background-color .2s ease-in-out;
}

@media (min-width: 300px) {
	nav li {
		display: inline-block;
		border-bottom: none;
		width: 7.5rem;
	}
	nav {
		text-align: right;
	}
}
